apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "2"
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"apps/v1","kind":"Deployment","metadata":{"annotations":{},"labels":{"app":"frontend"},"name":"webapp-deploy","namespace":"default"},"spec":{"replicas":2,"selector":{"matchLabels":{"app":"frontend"}},"template":{"metadata":{"labels":{"app":"frontend"}},"spec":{"containers":[{"image":"misterj25/first-webhost-in-k8s:latest","name":"web-container","ports":[{"containerPort":80,"name":"web-port"}]}]}}}}
  creationTimestamp: "2026-01-18T02:47:20Z"
  generation: 2
  labels:
    app: frontend
  name: webapp-deploy
  namespace: default
  resourceVersion: "10291"
  uid: 98ef346a-cbaa-471e-be47-e26c537cce1f
spec:
  progressDeadlineSeconds: 600
  replicas: 2
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: frontend
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - image: misterj25/first-webhost-in-k8s:latest
        imagePullPolicy: Always
        name: web-container
        ports:
        - containerPort: 80
          name: web-port
          protocol: TCP
        resources: {}
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
status:
  availableReplicas: 2
  conditions:
  - lastTransitionTime: "2026-01-18T02:47:20Z"
    lastUpdateTime: "2026-01-18T03:16:01Z"
    message: ReplicaSet "webapp-deploy-c44b5dfdb" has successfully progressed.
    reason: NewReplicaSetAvailable
    status: "True"
    type: Progressing
  - lastTransitionTime: "2026-01-18T03:17:23Z"
    lastUpdateTime: "2026-01-18T03:17:23Z"
    message: Deployment has minimum availability.
    reason: MinimumReplicasAvailable
    status: "True"
    type: Available
  observedGeneration: 2
  readyReplicas: 2
  replicas: 2
  updatedReplicas: 2
